<a href="https://colab.research.google.com/github/blaze-fire/Job_a_thon_June_2022/blob/main/job_a_thon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!git clone https://github.com/blaze-fire/Job_a_thon_June_2022.git

Cloning into 'Job_a_thon_June_2022'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 9 (delta 0), reused 7 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), done.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv('/content/Job_a_thon_June_2022/data/train_wn75k28.csv')

In [8]:
df.drop('id', axis=1, inplace=True)
df.head()

,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0

In [ ]:
df.isnull().sum()

In [10]:
# Name of Day of week
df['created_at_day_of_week'] = pd.to_datetime(df['created_at']).dt.day_name()
# df['signup_date_day_of_week'] = pd.to_datetime(df['signup_date']).dt.day_name()

In [11]:
# Day of week
df['created_at_dow'] = pd.to_datetime(df['created_at']).dt.dayofweek
# df['signup_date_dow'] = pd.to_datetime(df['signup_date']).dt.dayofweek

In [12]:
#isweekwnd

df['created_at_isWeekwnd'] = np.where(df['created_at_day_of_week'].isin(['Sunday', 'Saturday']), 1, 0)
# df['signup_date_dow_isWeekwnd'] = np.where(df['signup_date_day_of_week'].isin(['Sunday', 'Saturday']), 1, 0)

In [13]:
#week of year

df['created_at_dateWeek'] = pd.to_datetime(df['created_at']).dt.isocalendar().week.astype(np.int8)
# df['signup_date_dow_dateWeek'] = pd.to_datetime(df['signup_date']).dt.isocalendar().week

In [14]:
# quarter of year

df['created_at_quarter'] = pd.to_datetime(df['created_at']).dt.quarter
# df['signup_date_dow_quarter'] = pd.to_datetime(df['signup_date']).dt.quarter

In [15]:
# days between user signed up and the lead was dropped 

# df['lead_dropped_Minus_signup_date_Days'] = (pd.to_datetime(df['created_at']) - pd.to_datetime(df['signup_date'])).dt.days

In [16]:
# months between user signed up and the lead was dropped

# df['lead_dropped_Minus_signup_date_Months'] = np.round((pd.to_datetime(df['created_at']) - pd.to_datetime(df['signup_date']))/np.timedelta64(1,'M'), 0)

In [17]:
df.head()

,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,...,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy,created_at_day_of_week,created_at_dow,created_at_isWeekwnd,created_at_dateWeek,created_at_quarter
0,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,...,0,0,0,0,0,Friday,4,0,53,1
1,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,...,0,0,0,0,0,Friday,4,0,53,1
2,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,...,0,0,0,0,0,Friday,4,0,53,1
3,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,...,0,0,0,0,0,Friday,4,0,53,1
4,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,...,0,0,1,0,0,Friday,4,0,53,1

<b>Cyclic Feature Encoding</b> <br>
<p>
Data that has a unique set of values that repeat in a cycle are known as cyclic data. Time-related features are mainly cyclic in nature. For example, months of a year, days of a week, hours of time, minutes of time etc... These features have a set of values and all the observations will have a value from this set only. In many ML problems, we encounter such features. Handling such features properly have proved to help in the improvement of accuracy.
</p>

Post: https://stackoverflow.com/a/70485603

In [18]:
def encode(data, col, max_val):
    data[col + '_sin'] = data[col].apply(lambda x: np.round(np.sin(2 * np.pi * float(x)/max_val), 5) if pd.notnull(x) else x)
    data[col + '_cos'] = data[col].apply(lambda x: np.round(np.cos(2 * np.pi * float(x)/max_val), 5) if pd.notnull(x) else x)
    data.drop(col, axis=1, inplace=True)
    return data

In [19]:
# extract month 

df['created_at_month'] = pd.to_datetime(df['created_at']).dt.month
# df['signup_date_month'] = pd.to_datetime(df['signup_date']).dt.month

In [20]:
# extract day

df['created_at_date'] = pd.to_datetime(df['created_at']).dt.day
# df['signup_date_date'] = pd.to_datetime(df['signup_date']).dt.day

In [21]:
# get year of signup of the user for created_at column the year is constant
# df['signup_year'] = pd.to_datetime(df['signup_date']).dt.year

In [22]:
df = encode(df, 'created_at_month', 12)
# df = encode(df, 'signup_date_month', 12)

In [23]:
df = encode(df, 'created_at_date', 31)
# df = encode(df, 'signup_date_date', 31)

In [24]:
df.head()

,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,...,buy,created_at_day_of_week,created_at_dow,created_at_isWeekwnd,created_at_dateWeek,created_at_quarter,created_at_month_sin,created_at_month_cos,created_at_date_sin,created_at_date_cos
0,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,...,0,Friday,4,0,53,1,0.5,0.86603,0.2013,0.97953
1,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,...,0,Friday,4,0,53,1,0.5,0.86603,0.2013,0.97953
2,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,...,0,Friday,4,0,53,1,0.5,0.86603,0.2013,0.97953
3,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,...,0,Friday,4,0,53,1,0.5,0.86603,0.2013,0.97953
4,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,...,0,Friday,4,0,53,1,0.5,0.86603,0.2013,0.97953

## fill missing values

In [25]:
df.isnull().sum()

created_at                    0
campaign_var_1                0
campaign_var_2                0
products_purchased        20911
signup_date               15113
user_activity_var_1           0
user_activity_var_2           0
user_activity_var_3           0
user_activity_var_4           0
user_activity_var_5           0
user_activity_var_6           0
user_activity_var_7           0
user_activity_var_8           0
user_activity_var_9           0
user_activity_var_10          0
user_activity_var_11          0
user_activity_var_12          0
buy                           0
created_at_day_of_week        0
created_at_dow                0
created_at_isWeekwnd          0
created_at_dateWeek           0
created_at_quarter            0
created_at_month_sin          0
created_at_month_cos          0
created_at_date_sin           0
created_at_date_cos           0
dtype: int64

In [26]:
df_prods_purchased = df[~df['products_purchased'].isnull()]

In [27]:
X_train = df_prods_purchased.select_dtypes(exclude='object').drop(['products_purchased', 'buy'], axis=1)
y_train = df_prods_purchased['products_purchased']

In [28]:
X_test =  df[df['products_purchased'].isnull()].select_dtypes(exclude='object').drop(['products_purchased', 'buy'], axis=1)

In [29]:
X_train.head()

,campaign_var_1,campaign_var_2,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,...,user_activity_var_11,user_activity_var_12,created_at_dow,created_at_isWeekwnd,created_at_dateWeek,created_at_quarter,created_at_month_sin,created_at_month_cos,created_at_date_sin,created_at_date_cos
0,1,2,0,0,0,0,0,0,1,1,...,0,0,4,0,53,1,0.5,0.86603,0.2013,0.97953
1,2,1,1,0,1,0,0,0,1,0,...,0,0,4,0,53,1,0.5,0.86603,0.2013,0.97953
2,9,3,1,0,0,0,0,0,0,0,...,0,0,4,0,53,1,0.5,0.86603,0.2013,0.97953
3,6,7,0,0,0,0,0,0,0,0,...,0,0,4,0,53,1,0.5,0.86603,0.2013,0.97953
5,3,4,0,0,0,0,0,1,0,0,...,0,0,4,0,53,1,0.5,0.86603,0.2013,0.97953

In [30]:
from imblearn.over_sampling import SMOTE
oversample = SMOTE(sampling_strategy='auto')
X_train_balanced, y_train_balanced = oversample.fit_resample(X_train, y_train)

In [31]:
from xgboost import XGBClassifier

In [32]:
from sklearn.model_selection import GridSearchCV

# param_grid = {
#     'learning_rate': np.arange(0.06, 0.09, 0.01),
#     'n_estimators': np.arange(101, 110),
# }

# grid_search = GridSearchCV(XGBClassifier(n_estimators=108, learning_rate = 0.06,max_depth=3, verbose=5, tree_method = 'gpu_hist'), param_grid, scoring='f1_macro', cv=5, verbose=5)
# grid_search.fit(X_train, y_train)

# grid_search.best_score_
# grid_search.best_params_

In [37]:
xgbClfBest = XGBClassifier(n_estimators=108, learning_rate = 0.06,max_depth=3, verbose=5)

In [38]:
xgbClfBest.fit(X_train_balanced, y_train_balanced)

XGBClassifier(learning_rate=0.06, n_estimators=108, objective='multi:softprob',
              verbose=5)

In [39]:
pred = xgbClfBest.predict(X_test)

In [40]:
X_test['products_purchased'] = pred
X_train['products_purchased'] = y_train

In [41]:
final_df_prod_purchased = pd.concat([X_train, X_test], axis=0)
final_df_prod_purchased.reset_index(inplace=True)
final_df_prod_purchased.sort_values(by='index', inplace=True)
final_df_prod_purchased.drop('index', axis=1, inplace=True)
final_df_prod_purchased.reset_index(drop=True, inplace=True)

In [42]:
df['products_purchased'] = final_df_prod_purchased['products_purchased']

In [43]:
df.head()

,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,...,buy,created_at_day_of_week,created_at_dow,created_at_isWeekwnd,created_at_dateWeek,created_at_quarter,created_at_month_sin,created_at_month_cos,created_at_date_sin,created_at_date_cos
0,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,...,0,Friday,4,0,53,1,0.5,0.86603,0.2013,0.97953
1,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,...,0,Friday,4,0,53,1,0.5,0.86603,0.2013,0.97953
2,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,...,0,Friday,4,0,53,1,0.5,0.86603,0.2013,0.97953
3,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,...,0,Friday,4,0,53,1,0.5,0.86603,0.2013,0.97953
4,2021-01-01,4,6,2.0,2020-06-08,0,0,0,0,0,...,0,Friday,4,0,53,1,0.5,0.86603,0.2013,0.97953

## test dataset

In [45]:
test_df = pd.read_csv('/content/Job_a_thon_June_2022/data/test_Wf7sxXF.csv')

In [ ]:
test_df

In [48]:
def preprocess(df):
  df['created_at_day_of_week'] = pd.to_datetime(df['created_at']).dt.day_name()
  df['created_at_dow'] = pd.to_datetime(df['created_at']).dt.dayofweek
  df['created_at_isWeekwnd'] = np.where(df['created_at_day_of_week'].isin(['Sunday', 'Saturday']), 1, 0)
  df['created_at_dateWeek'] = pd.to_datetime(df['created_at']).dt.isocalendar().week.astype(np.int8)
  df['created_at_quarter'] = pd.to_datetime(df['created_at']).dt.quarter
  df['created_at_month'] = pd.to_datetime(df['created_at']).dt.month
  df['created_at_date'] = pd.to_datetime(df['created_at']).dt.day
  df = encode(df, 'created_at_month', 12)
  df = encode(df, 'created_at_date', 31)
  return df

In [49]:
test_df = preprocess(test_df)

In [54]:
def missing_products(df, model):
  df_prods_purchased = df[~df['products_purchased'].isnull()]
  X_train = df_prods_purchased.select_dtypes(exclude='object').drop(['products_purchased'], axis=1)
  y_train = df_prods_purchased['products_purchased']
  X_test =  df[df['products_purchased'].isnull()].select_dtypes(exclude='object').drop(['products_purchased'], axis=1)

  pred = model.predict(X_test)

  X_test['products_purchased'] = pred
  X_train['products_purchased'] = y_train

  final_df_prod_purchased = pd.concat([X_train, X_test], axis=0)
  final_df_prod_purchased.reset_index(inplace=True)
  final_df_prod_purchased.sort_values(by='index', inplace=True)
  final_df_prod_purchased.drop('index', axis=1, inplace=True)
  final_df_prod_purchased.reset_index(drop=True, inplace=True)
  df['products_purchased'] = final_df_prod_purchased['products_purchased']
  
  return df

In [59]:
ids = test_df['id']
test_df = missing_products(test_df.drop('id', axis=1), xgbClfBest)
test_df = pd.concat([ids, test_df], axis=1)

In [62]:
test_df.to_csv('/content/Job_a_thon_June_2022/data/test.csv', index=False)

In [63]:
!cd '/content/Job_a_thon_June_2022'

In [65]:
!git status

fatal: not a git repository (or any of the parent directories): .git




## Missing signup date

In [44]:
df.isnull().sum()

created_at                    0
campaign_var_1                0
campaign_var_2                0
products_purchased            0
signup_date               15113
user_activity_var_1           0
user_activity_var_2           0
user_activity_var_3           0
user_activity_var_4           0
user_activity_var_5           0
user_activity_var_6           0
user_activity_var_7           0
user_activity_var_8           0
user_activity_var_9           0
user_activity_var_10          0
user_activity_var_11          0
user_activity_var_12          0
buy                           0
created_at_day_of_week        0
created_at_dow                0
created_at_isWeekwnd          0
created_at_dateWeek           0
created_at_quarter            0
created_at_month_sin          0
created_at_month_cos          0
created_at_date_sin           0
created_at_date_cos           0
dtype: int64

## Prepare for training

In [30]:
X = df.select_dtypes(exclude='object').drop(['buy'], axis=1)
y = df['buy']

In [28]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0, stratify=y)

## Oversampling

In [51]:
df['products_purchased'].value_counts()

2.0    8867
3.0    5024
1.0    3643
4.0     716
Name: products_purchased, dtype: int64

In [52]:
pd.crosstab(df['products_purchased'], df['buy'])

buy                    0    1
products_purchased
1.0                 3401  242
2.0                 8484  383
3.0                 4770  254
4.0                  642   74

In [46]:
from imblearn.over_sampling import BorderlineSMOTE

In [47]:
oversample = BorderlineSMOTE()

In [48]:
X, y = oversample.fit_resample(X, y)

ValueError: ignored

## Catboost

In [39]:
!pip install catboost

Installing collected packages: catboost
Successfully installed catboost-1.0.6

In [40]:
from catboost import CatBoostClassifier

In [41]:
catboostClf = CatBoostClassifier()

In [ ]:
catboostClf.fit(X_train, y_train)